body {
  background-color: #111;
  color: #00ffff;
}

#speedrun-ui {
  font-family: 'Orbitron', sans-serif;
  z-index: 9999999 !important;
}

.text-neon-blue {
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
}

.bg-neon-purple {
  background-color: #8a2be2;
}

.border-neon-blue {
  border-color: #00ffff;
}

.cyberpunk-button-green {
  background: linear-gradient(45deg, #00ff00, #00ffff);
  border: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.cyberpunk-button-red {
  background: linear-gradient(45deg, #ff0000, #ff00ff);
  border: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.cyberpunk-button-green:hover,
.cyberpunk-button-red:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 10px #00ffff, 0 0 20px #ff00ff;
}

.hidden {
  display: none;
}